<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Events Detail</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment="body">
    <header class="py-1 border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${event.name}"></h1>
                <p class="lead mb-0" th:text="'Columbus, OH - ' + ${event.zip}"></p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" th:src="${event.photoURL}" alt="..." /></a>
                    <div class="card-body">
                        <strong class="small text-muted" th:text="${event.createdOn} + ' - '">></strong>
                        <strong class="small text-muted" th:text="${event.city} + ', ' "></strong>
                        <strong class="small text-muted" th:text="${event.state}"></strong>
                        <p class="card-text" th:text="${event.type}"></p>
                        <div th:if="${user.id} == ${event.group.createdBy.id}">
                            <a class="btn btn-primary" th:href="@{/events/{eventId}/delete(eventId=${event.id})}">Delete</a>
                        </div>
                        <form th:action="@{/events/join}" method="post">
                            <input type="hidden" name="eventId" th:value="${event.id}" />
                            <button type="submit" th:class="${isUserJoined ? 'btn btn-secondary' : 'btn btn-primary'}">
                                <span th:text="${isUserJoined ? 'Joined' : 'Join Game'}">Join Game</span>
                            </button>
                        </form>

                    </div>
                    </div>
                <div class="card mb-4">
                    <div class="card-header">Comments</div>
                    <div th:each="comment : ${comments}" style="display: flex; align-items: center; margin-bottom: 20px;">
                        <div style="margin-right: 15px; text-align: center;">
                            <!-- Link for username -->
                            <a th:href="@{'http://localhost/users/' + ${comment.user.username}}">
                                <!-- Display username -->
                                <p th:text="${comment.user.username}" style="margin: 0; font-weight: bold;">Username</p>
                            </a>
                            <!-- Link for user avatar -->
                            <a th:href="@{'http://localhost/users/' + ${comment.user.username}}">
                                <!-- Display user avatar -->
                                <img th:src="${userAvatars[comment.user.id].photoURL}" alt="User avatar" style="width: 50px; height: 50px; margin-left: 10px;"/>
                            </a>
                        </div>
                        <!-- Display comment content -->
                        <p th:text="${comment.content}" style="margin: 0; flex-grow: 1;">Comment content</p>
                    </div>
                    <div class="container">

                    </div>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-body">
                        <img class="fw-bolder" style="width: 100px" th:src=${event.game.photoURL}></img>
                        <h1 class="fw-bolder" th:text=${event.game.title}></h1>
                        <p th:utext=${event.game.description}></p>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Game Details</div>
                    <div class="card-body">
                        <p class="card-text" th:text="'Playing Time: ' + ${event.game.playingTime}"></p>
                        <p class="card-text" th:text="'Min Players: ' + ${event.game.minPlayers}"></p>
                        <p class="card-text" th:text="'Max Players: ' + ${event.game.maxPlayers}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>